# Environment
src/.env
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
*.so
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
media_root/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Zip files
*.zip
app.zip
